*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    z-index: 0;
    background-color: black;   
}
header{
    background-image: url(marvel.webp);
    background-blend-mode: screen; 
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    animation: change 12s infinite;
    
    
}
@keyframes change{
    0%{
        background-image: url(marvel.webp);
    }
    20%{
        background-image: url('https://wallpapercave.com/wp/wp8292533.jpg');
    }
    40%{
        background-image: url(poc.jpg);
    }
    60%{
        background-image: url(pb2.jpg);
    }
    80%{
        background-image: url(got1.jpg);
    }
    100%{
        background-image: url(marvel.webp);
    }    



}
header div{
    margin: 0;
    padding: 10px;
}
header div a div{
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 35px;
    
}
header div a div img{
    width: 40px;
}

.space{
    text-align: center;
    color: aliceblue;
    padding: 2rem;
    margin-top: 50px;
    font-size: 40px;
    font-style: italic;
    margin-top: 150px;
}
 
.space1{
    padding: 2rem;
    margin-top: 270px;
}
#heading a{

    text-decoration: none;
    color: aliceblue;
    
}

#searchdiv{
    margin: auto;
}
#search{
    color: white;
    font-weight: 600;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 60px;
    padding: 12px 15px;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
}
#search::placeholder {
    font-size: 14px;
}
#search:hover{
    color: white;
    font-weight: 600;
    width: 370px;
    background-color: red;
    border-radius: 65px;
    padding: 14px 16px;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    transition: 0.2s

}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(to bottom ,black,maroon,black);
}

.movie{
    width: 300px;
    margin: 1rem;
    border-radius: 5%;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: rgb(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}

.movie img{
    width: 100%;
}

.movie-info{
    display: flex;
    color: beige;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3{
    margin-top: 0px;
}



.movie-info span{
    background: rgba(238, 199, 6, 0.822);
    padding: 0.25rem 0.5rem;
    border-radius: 7px;
    font-weight: bold;
    color: black;
}




.overview{
    color: slategray;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0,0,0,0.7);
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition : transform 0.3s ease-in;
}
.overview h3{
    margin-top: 1rem;
    color: aqua;
    margin-bottom: 5px;
}
.overview h2{
    color: beige;
}

.movie:hover .overview{
    transform: translateY(0);
}
.sidebar{
    z-index: 1;
    list-style: none;
    position: fixed;
    left:  -250px;
    width: 250px;
    height: 100%;
    background-color : rgb(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;

    
}
.sidebar h4{
    font-size: 22px;
    color: whitesmoke;
    text-align: center;
    line-height: 70px;
    background-color: rgb(0, 0, 0, 0.5);
    user-select: none;
}

.sidebar a{
    text-decoration: none;
    color: whitesmoke;
}

.sidebar li div{
    
    display: block;
    height: 100%;
    width:100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 20px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid black;
    transition: 0.4s;
}
.sidebar li div div:hover{
    padding-left: 30px;
}
 .sidebar i{
    margin-right: 16px;
 }

#check{
    display: none;
}
label #btn{
    position: fixed;
    cursor: pointer;
    border-radius: 3px;
    z-index: 2;
    left: 0px;
    top: 17px;
    font-size: 22px;
    color: white; 
    padding: 6px 12px;

    
}

#check:checked ~ .sidebar{
    left: 0px;
}
